.input-form {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  margin-left: 3%;
  margin-bottom: 2%;
  border: solid #f0f0f0;
  padding-left: 2%;
}
.input-form:focus {
  outline: none;
}

.input-edit-todo{
  width: 370px;
  height: 35px;
  border-radius: 5px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
  border: solid #f0f0f0;
  padding-left: 2%;
}
.input-edit-todo:focus {
  outline: none;
}