.reset {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: solid #f0f0f0;
}
.reset:hover {
  background-color: #b0b0b0;
}

.save {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: solid #f0f0f0;
}
.save:hover {
  background-color: #b0b0b0;
}
