.form-field {
  height: 900px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  border-radius: 5px;
  background-color: #d0d0d0;
}

.btn-block {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.textarea-form + .textarea-text-helpers-box .box-display-letters-counter { 
  visibility: hidden;
}

.textarea-form:focus + .textarea-text-helpers-box .box-display-letters-counter {
  visibility: visible;
}
