.login-container{
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  width: 500px;
  height: 10%;
  padding: 28px 40px 30px 10px;
  margin: 137px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}